body{
    margin: 0;
    padding: 0;
    width: 100vw;
}
header{
    width: 100%;
    height: 10vh;
    background-color: rgb(77, 137, 190);
    text-align: center;
}
h1 {
    margin: 0;
}
/* barre de navigation */
nav {
    height: 10vh;
    background-color: aqua; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;   
}
nav p {
    font-style: italic;
}
#nav-ul {
    display: flex;
    gap: 70px;
    list-style: none;
}
#nav-ul a {
    text-decoration: none;
}
#nav-ul li :hover {
    background-color: rgb(230, 200, 110);
    border-radius: 10px;
}
/* main */
main{
    width: 80vw;
    height: auto;
    margin: auto;
}
/* information personnelle */
#personal-information {
    background-color: beige;
    border: 2px solid black;
}
#personnelle {
    text-align: center;
    text-decoration: underline;
    margin: 0;
}
#personal-information li {
    padding: 10px;
}
#personal-information  input {
    border-radius: 10px;
    background-color: rgb(205, 179, 179);
}
/* information complémentaire */
#additional-information {
    background-color: aqua;
    border: 2px solid black;
}
#complementaire {
    text-align: center;
    text-decoration: underline;
    margin: 0;
}
/* information promotion */
#information-promotion {
    background-color: blanchedalmond;
    border: 2px solid black;
}
#information-promotion p {
    padding-left: 20px;
}
#promotion {
    text-align: center;
    text-decoration: underline;
}
#submit input {
    border-radius: 10px;
    
}
#submit-div {
   
    display: flex;
    justify-content: center;
    padding: 30px;
}

#questions {
    
    display: flex;
    justify-content: center;
}